html {
  height: 100vh;
}
  
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif;
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 3%;
  overflow: hidden;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  font-size: 30px;
  line-height: 0.95;
  padding: 0 30px;
}

.label {
  font-size: 30px;
  font-weight: 600;
  color: #efa;
}